/* 
    Put your style/CSS customizations here.
    It's loaded after all the other CSS files, so any CSS rules here
    will override rules in other files.
 */

body {
  background-color: #F5F5F5;
}
.navbar .navbar-right {
    font-weight: bold;
} 
.btn-primary {
    background-image: linear-gradient(to bottom, #337AB7 0px, #337AB7 100%);
    background-repeat: repeat-x;
