/* 
    Put your style/CSS customizations here.
    It's loaded after all the other CSS files, so any CSS rules here
    will override rules in other files.
 */

body {
  background-color: #F5F5F5;
}
.navbar .navbar-right {
    font-weight: bold;
} 
.btn-primary {
    background-image: linear-gradient(to bottom, #26A65B 0px, #26A65B 100%);
    background-repeat: repeat-x;
    border-color: #26A65B;
}
.btn-primary:hover{
    color: #fff;
    background-color: linear-gradient(to bottom, #26A65B 0px, #006442 100%);
    border-color: #006442;
}
.btn-primary:focus{
    background-color: 006442;
}
